services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  masterserver:
    build: ./masterserver
    container_name: masterserver
    ports:
      - "3000:3000"
    depends_on:
      - redis
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock  # Master darf Docker steuern

  frontendlobby:
    build:
      context: ./Frontend
    image: frontendlobby:v1
    container_name: frontendlobby
    ports:
      - "8081:8081"
    depends_on:
      - masterserver

  gameserver:
    build: ./gameserver
    image: gameserver:latest  
    container_name: gameserver
    ports:
      - "8443:8443"
    depends_on:
      - redis
